{{#each blog as |blog|}}
  <div>
    <a href='/blog/{{blog.id}}'>{{blog.name}}</a>
    <span>{{blog.user.name}}
      {{blog.description}}
     </span>
    {{!-- <p>{{blog.description}}</p> --}}
  </div>
{{/each}}